{% extends 'base/_main.html' %}


{% block title %}  Reset your password {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 bg-light border border-light mt-5">
            <h1 class="text-center">Password set</h1>
            <hr>
            <p>Your password has been set. You can <a href="{% url 'login' %}">Log in now</a></p>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock content %}