{% extends 'base/_main.html' %}


{% block title %}  Reset your password {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 bg-light border border-light mt-5">
            <h1 class="text-center">Reset Your Password</h1>
            <hr>
            <p>We've emailed instructions to you for resetting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock content %}